{% extends 'SyndicMainBundle::layout.html.twig' %}


{% block header %}
    {{ icon('lock') }}
    Accès refusé !
{% endblock %}


{% block content %}

    <div class="alert alert-danger" role="alert">
    	{{ icon('info-sign') }}
        {{ exception.message }}
    </div>
    <!--<p>Message du serveur : "{{ status_code }} {{ status_text }}".</p>-->
    
{% endblock %}
