<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>{% block title %} CFE CGC {% endblock title %}</title>
        
        {% block stylesheets %}
        
	        {% stylesheets
		        'css/bootstrap.css'
		        '@SyndicMainBundle/Resources/less/*.less' 
		    %}
		        <link href="{{ asset_url }}" rel="stylesheet" type="text/css">
		    {% endstylesheets %}
		    
        {% endblock %}
        
        <!-- HTML5 Shim and Respond.js add IE8 support of HTML5 elements and media queries -->
    	{% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}
    	
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
       
    </head>
    <body>
        {% block body %}

		    <div class="container-fluid">
		        
		        <div class="row">
		            <header class="col-xs-12">
		                <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		                    
		                    <div class="navbar-header">
		                        <img src="{{ asset('/bundles/syndicmain/images/novartis.png') }}" alt="CFE CGC" id="main-logo" />
		                        
		                        <button type="button" class="navbar-toggle collapsed" 
                                    data-toggle="collapse" 
                                    data-target="#main-navbar-collapse-1"
                                >
                                    <span class="sr-only">Toggle navigation</span>
							        <span class="icon-bar"></span>
							        <span class="icon-bar"></span>
							        <span class="icon-bar"></span>
                                </button>
		                    </div><!-- navbar-header -->
		                    
		                    <div class="collapse navbar-collapse" id="main-navbar-collapse-1">
		                        {{ knp_menu_render('main', { 'style': 'navbar' }) }}
		                        
		                        
		                        <ul class="nav navbar-nav navbar-right" id="connect">
		                        {% if app.user is not null and is_granted('ROLE_USER') %}
		                            <li>
		                                <a href="{{path('fos_user_security_logout')}}">
		                                    {{ icon('user') }}
		                                    Déconnexion
		                                </a>
		                            </li>
		                        {% else %}
		                            <li>
		                                <a href="{{path('fos_user_security_login')}}">
		                                    {{ icon('user') }}
		                                    Connexion
		                                </a>
		                            </li>
		                        {% endif %}
		                        </ul>
		                        
		                    </div><!-- .navbar-collapse -->
		                </nav>
		                
		            </header>
                </div> <!-- .row -->        
		        
		        <div class="row">
		            <section class="col-xs-12">
		                
		                {% block pageHeader %}
		                <div class="page-header">
		                    <h1>
		                        {% block header %}
		                            Titre
                                {% endblock header %}
                            </h1>
		                </div>
                        {% endblock pageHeader %}
		            
    		            <!-- Display all flash messages : --> 
    		            {% include 'BraincraftedBootstrapBundle::flash.html.twig' with { 'close': true } %}
    		            
    		            {% block breadcrumb %}
                    
                        {% endblock breadcrumb %}
                
		            </section>
		        </div><!-- .row -->
                
                {% block contain %}
		        
		        {% endblock contain %}
		        
		    </div> <!-- .container-fluid -->
		    
		    <footer class="footer">
                <div class="container"> 
                    {% block footer %}
                        
                        <ul class="list-unstyled list-center">
                            <li>
                                <strong>Vos délégués syndicaux : </strong>
                                Véronique Bernagou, Christine Julien-Deguisne et Vincent Siri délégué syndical central
                            </li>
                            <li>
                                <strong>Vos représentants CE : </strong>
                                Christine Julien-Deguisne, Bruno Hall, Isabelle Mathys et Vincent Siri.
                            </li>
                            <li>
                                <strong>Vos représentants DP : </strong>
                                Véronique Bernagou, Jeanine Bielle, Michel Bogula, Dominique Pasqual, Vincent Siri.
                            </li>
                            <li>
                                <strong>CHSCT : </strong> 
                                Odile Veret, Jeanine Bielle, Véronique Bernagou.
                            </li>
                            <li>
                                N’hésitez pas à 
                                <a href="{{ path('contact') }}">
                                    nous contacter 
                                </a>
                                pour toute demande de renseignements
                            </li>
                        </ul>
                        
                    {% endblock footer %}
                </div><!-- .container --> 
            </footer> 
		    
		{% endblock body %}

        
        {% block javascripts %}
        
            {% javascripts
		        'js/jquery.js'
		        'js/bootstrap.js'
		        
		        '@SyndicMainBundle/Resources/public/js/*.js'
		    %}
		         <script type="text/javascript" src="{{ asset_url }}"></script>
		    {% endjavascripts %}
		    
		    
		    {# FOSJSRoutingBundle script : #}
		    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
		    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
        
        {% endblock javascripts %}
    </body>
</html>
