{% extends 'SyndicMainBundle::layout.html.twig' %}


{% block title %}
    {{ parent() }} - {{ article.title }}
{% endblock %}


{% block header %}
    {{ article.title }}
{% endblock %}


{% block content %}
    
    <article>
        
        {{ article.content | raw }}
        
        <hr />
        
        <footer>
            <p>
                {{ icon('calendar') }} 
                Publié le : 
                <span class="label label-success">{{ article.publishedAt|date('d/m/Y') }}</span>
            </p>
            
            {% if article.updatedAt|date('Ymd') > article.publishedAt|date('Ymd') %}
                <p>
                    {{ icon('calendar') }} 
                    Modifié le : 
                    <span class="label label-warning">{{ article.updatedAt|date('d/m/Y') }}</span>
                </p>
            {% endif %}
            
            <p>
                {{ icon('user') }} 
                Auteur : 
                <span class="label label-success">{{article.user}}</span>
            </p>
            
        </footer>
        
    </article>
    
    {% include 'FOSCommentBundle:Thread:async.html.twig' with {'id': article.id} %}
    
{% endblock %}


{% block sidebar %}

	{% for img in article.image %}
	    <img src="{{ img.webPath | apply_filter('my_thumb') }}" class="thumbnail pull-right" />    
	{% endfor %}
	
{% endblock sidebar %}
