
{% extends "SonataUserBundle:Profile:action.html.twig" %}

{% block sonata_profile_content %}
    <h3>
        {{user}}
    </h3>
    
    <p>
        {{user.firstName}} {{user.lastName}} 
    </p>
    
    <p>
        Inscrit depuis le {{user.createdAt | date('d/m/Y h:i') }}.
    </p>
    
    <p>
        {% for group in user.groups %}
            {{ label_info(group) }}
        {% endfor %}
    </p>
    
{% endblock %}