{% extends 'SyndicMainBundle::layout.html.twig' %}


{% block title %}
    {{ parent() }} - Contact
{% endblock %}


{% block javascripts %}
    {{ parent() }}
	{{ tinymce_init() }}
{% endblock %}


{% block content %}

	<h1>Contact</h1>
	
	{% if app.session.flashbag.has('messageSent') %}
	
        <div class="alert alert-success">
        	{% for flashMessage in app.session.flashbag.get('messageSent') %}

                {{ flashMessage }}

            {% endfor %}
        </div>
        
    {% else %}
        {{ form(form, { 'style': 'horizontal' }) }}
	{% endif %}
	
{% endblock content %}
