{% extends 'SyndicMainBundle::layout.html.twig' %}


{% block title %}
    {{ parent() }} - Contact
{% endblock %}


{% block javascripts %}
    {{ parent() }}
	{{ tinymce_init() }}
{% endblock %}

{% block header %}
    {{ icon('send') }}
    Contact
{% endblock %}


{% block breadcrumb %}
<ol class="breadcrumb">
    <li>
        <a href="{{ path('home') }}">
            {{ icon('home') }}
            Accueil
        </a>
    </li>
    <li class="active">
        Contact
    </li>
</ol>                
{% endblock breadcrumb %}


{% block content %}
    
	{% if app.session.flashbag.has('messageSent') %}
	
        <div class="alert alert-success">
        	{% for flashMessage in app.session.flashbag.get('messageSent') %}

                {{ flashMessage }}

            {% endfor %}
        </div>
        
    {% else %}
        {{ form(form, { 'style': 'horizontal' }) }}
	{% endif %}
	
{% endblock content %}
