{% extends 'SyndicMainBundle::layoutNoSidebar.html.twig' %}


{% block title %}CFE CGC - accueil{% endblock %}

{% block pageHeader %}
{% endblock pageHeader %}
    
{% block content %}

    <div class="jumbotron">
        <div class="container">
        	
        	<h1>Bienvenue <small>sur le site de la section CFE-CGC de Novartis Pharma.</small></h1>
            
            <p class="text-justify">
            Ce site est exclusivement réservé aux salarié(e)s de la société Novartis Pharma. Seuls les adhérents et les sympathisants (voir le chapitre adhérents et sympathisants pour connaitre la subtile nuance) ont accès à l’intégralité du site, ce qui en fait un site finalement facile d’accès…. Lors de votre adhésion à la CFE-CGC ou lors de votre inscription sur la liste de nos sympathisants, un mot de passe vous sera fourni.
            </p>
            
            <p>
                <a href="{{path('fos_user_security_login')}}" class="btn btn-primary btn-lg" role="button"> 
                    {{ icon('log-in') }}
                    Se connecter
                </a>
            </p>
        </div>
    </div>
    
	{% for category in categories %}
        {% if loop.first %}
	       <div class="row">
        {% endif %}
        
        <div class="col-xs-4">
        	<div class="box">
				<h2>
					<a class="shadow" href="{{ path('category_articles', {'slug': category.slug}) }}">
						{{ icon('play') }}
                        {{ category.title }}
				    </a>
				</h2>
				<p>{{category.description}}</p>
			</div>
		</div>
		
		{% if loop.index is divisibleby(3) %}
           </div>{% if not loop.last %} <div class="row"> {% endif %}
        {% endif %}
		
	{% endfor %}

{% endblock %}
    