{% extends 'SyndicMainBundle::layoutNoSidebar.html.twig' %}


{% block title %}CFE CGC - accueil{% endblock %}

{% block pageHeader %}
{% endblock pageHeader %}
    
{% block content %}

    <div class="jumbotron">
        <div class="container">
            <h1>Bienvenue,</h1>
            <p class="text-justify">
            	Vous êtes sur le site de la section CFE-CGC de Novartis. Les adhérents et les sympathisants ont accès à l’ensemble du site grâce à un mot de passe. Ce qui en fait un site finalement facile d’accès ...
            </p>
            <p class="text-justify">
                Seul quelques pages sont accessibles aux promeneurs solitaires.
            </p>
            <p class="text-justify">
                Si vous souhaitez être sympathisant, il suffit simplement de le signaler aux délégués syndicaux et si vous souhaitez franchir l’étape supérieure, même démarche avec un bulletin d’adhésion à remplir. L’adhésion est évidemment strictement confidentielle. Ni la Direction ni les salariés n’ont accès à cette information.
            </p>
            <p class="text-justify">
                La CFE-CGC est un syndicat de propositions qui prône avant tout le dialogue et la négociation. La CFE-CGC s'adresse aux classes moyennes, tout en gardant sa spécificité qui est d'être la voix des techniciens, agents de maîtrise, forces de vente, cadres, ingénieurs et à ceux qui ont vocation à le devenir - c'est-à-dire, à des salariés dont les fonctions comportent responsabilité, initiative et/ou commandement. Ceci pour les secteurs privé, nationalisé, public et pour la Fonction publique.
            </p>
            <p class="text-justify">
                En ce qui nous concerne, chez Novartis, nous continuerons dans la voie que nous avons tracée depuis quelques années, celle d’un syndicalisme différent et moderne qui privilégie la négociation et l’information vers nos adhérents.
            </p>
            <p class="text-justify">
                Nous sommes fiers de nos résultats : passage de 15 à 20 du nombre de jours du CET, création d’un congé spécifique à Novartis Pharma pour assister un proche en fin de vie, conditions plus favorables pour les congés  familiaux (PACS, enfants malades, congé paternité, décès…), obtention d’un forfait bureau de 40 €  pour la VM et la revalorisation des frais de repas/hôtel pour tous, 4/5ème payé 100% pour les séniors de 62 ans et +, compensation du surtemps de trajet pour les non itinérants, télétravail à tous les salariés du Siège, meilleur remboursement des soins sans augmentation des cotisations, extension du BPF à l’ensemble des salariés du Siège, plafond de la prime d’ancienneté de 15 à 18% avec effet rétroactif de 2 ans, accords d’intéressement, prise en charge financière d’un stage de récupération de points du permis de conduire, enrichissement des offres des œuvres sociales et culturelles du CE, mise en place de la conciergerie…
            </p>      
            <p class="text-justify">
                Ces résultats sont parfois longs et difficiles à obtenir mais nous ne lâchons jamais. Nous n’hésitons pas, à engager des actions judiciaires si cela est indispensable à la défense des salariés, ou à nous opposer fermement à la signature de certains accords défavorables comme nous l’avons fait récemment pour le PSE.
            </p>
            <p class="text-justify">
                Ces résultats, nous les devons à notre méthode de travail rigoureuse, mais aussi à vous : en effet, dans le rapport de force que nous établissons avec la Direction, nos résultats lors des élections professionnelles comptent pour beaucoup.
            </p>
            <p class="text-justify">
                En 2015, nous continuerons également à développer notre communication au travers de nos « questions de la semaine », nos « fiches pratiques » et nos divers comptes rendus, car nous savons par vos témoignages que c’est une des raisons qui vous font apprécier la CFE-CGC.
            </p>
            <p class="text-justify">
                Vous pouvez compter sur notre engagement, pour défendre vos intérêts.
            </p>
            <p>
                <a href="{{path('fos_user_security_login')}}" class="btn btn-primary btn-lg" role="button"> 
                    {{ icon('log-in') }}
                    Se connecter
                </a>
            </p>
        </div>
    </div>
    
	{% for category in categories %}
        {% if loop.first %}
	       <div class="row">
        {% endif %}
        
        <div class="col-xs-4">
        	<div class="box">
				<h2>
					<a class="shadow" href="{{ path('category_articles', {'slug': category.slug}) }}">
						{{ icon('play') }}
                        {{ category.title }}
				    </a>
				</h2>
				<p>{{category.description}}</p>
			</div>
		</div>
		
		{% if loop.index is divisibleby(3) %}
           </div>{% if not loop.last %} <div class="row"> {% endif %}
        {% endif %}
		
	{% endfor %}

{% endblock %}
    