{% extends 'SyndicMainBundle::layoutNoSidebar.html.twig' %}


{% block title %}CFE CGC - accueil{% endblock %}

{% block pageHeader %}
{% endblock pageHeader %}
    
{% block content %}

    <div class="jumbotron">
        <div class="container">
            <h1>Hello, world!</h1>
            <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
            <p>
                <a href="{{path('fos_user_security_login')}}" class="btn btn-primary btn-lg" role="button"> 
                    {{ icon('log-in') }}
                    Se connecter
                </a>
            </p>
        </div>
    </div>
    
	{% for category in categories %}
        {% if loop.first or loop.index is divisibleby(3) %}
	       <div class="row">
        {% endif %}
        
        <div class="col-xs-4">
        	<div class="well">
				<h2>
					<a class="shadow" href="{{ path('category_articles', {'slug': category.slug}) }}">
						{{ icon('play') }}
                        {{ category.title }}
				    </a>
				</h2>
				<blockquote>{{category.description}}</blockquote>
			</div>
		</div>
		
		{% if loop.last or loop.index is divisibleby(3) %}
           </div>
        {% endif %}
		
	{% endfor %}

{% endblock %}
    