{% extends 'SyndicMainBundle::layout.html.twig' %}


{% block title %}
    {{ parent() }} - {{ category.title }}
{% endblock %}


{% block header %}
    {{ category.title }}
{% endblock %}


{% block breadcrumb %}
<ol class="breadcrumb">
    <li>
        <a href="{{ path('home') }}">
            {{ icon('home') }}
            Accueil
        </a>
    </li>
    <li class="active">
        {{ category.title }}
    </li>
</ol>                
{% endblock breadcrumb %}


{% block content %}
    
    {% for article in articles %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>
                    <a href="{{ path('article_show', {'slug': article.slug}) }}">
                        {{ article.title }}
                    </a>
                </h2>
	        </div>
	        <div class="panel-body">
                {{ icon('calendar') }} <small>Publié le</small> {{ label_info(article.publishedAt | date('d/m/y')) }}
	        </div>
        </div>
    {% endfor %}
    
{% endblock content %}
